<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Esqueceu sua senha?</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active text-white">Recuperar Senha</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Forgot Password Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Recuperar Senha</h1>
                        <p>Insira seu e-mail cadastrado abaixo. Enviaremos um link para redefinir sua senha.</p>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="h-100 rounded">
                        <form action="" class="">
                            <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Coloque Seu E-mail" required>
                            <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Enviar Link de Recuperação</button>
                        </form>
                        <div class="text-center mt-3">
                            <a href="@Url.Action("UserLogin", "User")" class="text-primary">Voltar para o Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Password End -->